<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="file:///D:/flask/FAST_API/static/style.css">
    <title>Password Reset</title>
</head>
<body>

        <h1>Forgot Password</h1>
        <form method="POST" action="/forgot_pass/">
            <input type="email" name="email" required placeholder="Enter your Email">
            <button type="submit">Submit</button>
        </form>
        

    </body>
</html>