<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin Dashboard</title>

    <link rel="stylesheet" href="static/SuperAdmin.css">
</head>
<body>
    <div class="container">
        <h1>Welcome Super Admin Dashboard</h1>

        <!-- Navigation Bar -->
        <div id="nav">
            <nav>
                <a href="#" onclick="goToPermissionPage('add_permission')">Manage Permissions</a>
                
                <a href="#" onclick="goToPermissionPage('AddRole')">Manage Role</a>

                <a href="#" onclick="goToPermissionPage('useroleDrop')">UserRoles Assign</a>

                <a href="#" onclick="goToPermissionPage('per_role')">RolePermission Assign</a>

                <a href="#" onclick="goToPermissionPage('ItselfUpdate')">Edit Super Admin</a>

                <a href="{{url_for('get_web')}}">Subscription</a>

                
                <div class="dropdown">
                    <span>Download</span>
                    <div class="dropdown-content">
                        <a href="#" id="downloadRoleCsvBtn" class="button-link">Download Roles CSV</a>
                        <a href="#" id="downloadUserDataCsvBtn" class="button-link">Download User Data CSV</a>
                        <a href="#" id="downloadPermissionCsvBtn" class="button-link">Download Permissions CSV</a>
                    </div>
                </div>
    
                <button id="logoutButton">Logout</button>
            </nav>
        </div>

<a href="#" onclick="goToPermissionPage('changePassword')">change-password</a>

        <!-- Table to display users data -->
        <div class="content-wrapper">
            <table id="users-table">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Permissions</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <div id="permissionContent"></div> 
                    <!-- Data will be injected here -->
                </tbody>
            </table>
        </div>

     
    </div>

    <script src="static/button.js"></script>

     <script src="static/button1.js"></script>

    <script src="static/downlodePdf.js"></script>

    <script src="static/EditDeleteUpdateDashbord.js"></script>

        <!-- <script src="static/permission.js"></script> -->

</body>
</html>


                <!-- <a onclick="goToRolePage()">Manage Role</a> -->
<!-- 
                <a onclick="goToPermissionRolePage()">RolePermission Assign</a>
               
                <a onclick="goToUserRolePage()">UserRoles Assign</a>

                <a onclick="goToCurrent_User_UpdatePage()">Edit Super Admin</a>
 -->
